<?xml version="1.0" ?>
<ODM xmlns="http://www.cdisc.org/ns/odm/v1.3" FileOID="ODM.{{ study_id }}">
  <Study OID="Study.{{ study_id }}">
    <GlobalVariables>Cadence Generated Study</GlobalVariables>
    <MetaDataVersion OID="MDV.1" Name="Version 1.0">
      {% for item in items %}
      {% if item.localizations or item.relevant or item.constraint %}
      <ItemDef OID="{{ item.id }}" Name="{{ item.name }}" DataType="{{ item.type }}">
        {% if item.localizations %}
        <Description>
          {% for lang_code, loc in item.localizations.items() %}
          {% if loc.description or loc.label %}
          <TranslatedText Language="{{ lang_code }}">{{ loc.description or loc.label }}</TranslatedText>
          {% endif %}
          {% endfor %}
        </Description>
        {% endif %}
        {% if item.relevant %}
        <Alias Context="relevant" Name="{{ item.relevant }}"/>
        {% endif %}
        {% if item.constraint %}
        <Alias Context="constraint" Name="{{ item.constraint }}"/>
        {% endif %}
      </ItemDef>
      {% else %}
      <ItemDef OID="{{ item.id }}" Name="{{ item.name }}" DataType="{{ item.type }}"/>
      {% endif %}
      {% endfor %}
    </MetaDataVersion>
  </Study>
</ODM>
